#headerBannerWrapper{
float:left;
}
    
#banner{
width:20rem;
}
    
#headerIconWrapper{
float:right;
}

#headerIconInnerWrapper{
padding:1rem;
text-align:center;
}
    
#headerIcon{
width:5rem;
/* margin:1rem 1rem 1rem 0; */
display:block;
margin:auto;
margin-bottom:1rem;
}

/* styles for non-desktop landscape-oriented mobile views (ie: tablets, landscape smartphones */
@media screen and (min-width: 758px) and (max-width: 992px) {
    
}

/* styles for portrait-oriented mobile views */
@media screen and (max-width: 757px) {

#headerBannerWrapper{
width:50%;
float:left;
}

#headerIconWrapper{
text-align:center;
width:50%;
float:right;
}

#banner{
width:100%;
}

#headerIcon{
display:block;
margin:auto;
width:3rem;

}

}