<div class="hrlineBreak"></div>

<div class="cont">

    <div class="footerDiv33">

        <div id="footerIconWrapper">

            <img class="footerIcon" src="assets/images/AngularJS.svg" alt="Angular Shield">
            <img class="footerIcon" src="assets/images/nodeJS.png" alt="Node JS Logo">
    
        </div>

    </div>

    <div class="footerDiv33 center-content">

        <p>
            INTEL © 2022
            <br>
            <a href="https://www.intel.com">www.intel.com</a>
        </p>

    </div>

    <div class="footerDiv33">

        <div id="footerBannerWrapper">

            <img id="footerBanner" src="assets/images/intel_Logo.png" alt="Intel Logo">
    
        </div>

    </div>

</div>